.app-header {
  display: flex;
  align-items: baseline;
}

.app-header Button {
  margin-left: 1rem;
}

.users-list .user-row {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.users-list .user-row .left-side {
  display: flex;
  align-items: center;
}

.users-list .user-row .user-name-container {
  margin-left: 1rem;
}

.add-user-modal {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 1rem;
}

.add-user-modal .user-modal-input {
  width: 100%;
  margin-bottom: 1rem;
}

.add-user-modal .actions {
  display: flex;
  justify-content: flex-end;
}

.filter-wrapper {
  text-align: center;
  margin-bottom: 5px;
}

.filter-wrapper TextField {
  height: 500px !important;
}

.radio-wrapper {
  display: block !important;
}

.pagination-wrapper ul {
  list-style-type: none;
  display: inline-block;
}

.pagination-wrapper li {
  display: inline-block;
  margin-left: 20px;
  background-color: #3f50b5;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
}


